@model InvestmentCalc
@{
    ViewData["Title"] = "Investment Calculator";
}

<h2>Investment Calculator</h2>


<!--
    The user input view should provide input fields to get the starting Principle,
    Interest, Years of the loan and number of compounds per year.
-->
@using (Html.BeginForm("Summary", "Home", "post"))
{

    <legend> Please enter the following information to calculate the future value of an investment: </legend>
    //TODO: -5 added ValidationMessages. RJG
    <p>@Html.Label("Principle", "Principle", new { id = "lblPrinciple" })</p>
    <p>@Html.Editor("principle")@Html.ValidationMessage("principle")</p>
    <p>@Html.Label("Interest",  "Interest",new { id = "lblInterest" })</p>
    <p>@Html.Editor("interest")@Html.ValidationMessage("interest")</p>
    <p>@Html.Label("Years",  "Years",new { id = "lbYears" })</p>
    <p>@Html.Editor("years")@Html.ValidationMessage("years")</p>
    <p>@Html.Label("CmpPerYr",  "Compounds Per Year",new { id = "lblCmpPerYr" })</p>
    <p>@Html.Editor("cmpPerYr")@Html.ValidationMessage("cmpPerYr")</p>
    <div> </div>
    <p>@Html.ValidationSummary()</p>
    <button type="submit">Submit</button>
}

